{% extends "food/detail_page.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h2 style="color: #ffffff">{{ cate_detail.name }}</h2>
            <div class="row">
                {% for shop in cate_detail.shop_set.all %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        {% if shop.photo %}
                        <img src="{{ shop.photo.url }}" class="card-img-top" width="auto" height="auto"
                             alt="사진을 준비 중입니다.">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ shop.name }}</h5>
                            <p class="card-text">{{ shop.desc }}</p>
                            <a href="{{ shop.get_absolute_url }}" class="btn btn-primary">메뉴 보기</a>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            <br>
        </div>
        <a href="{% url 'food:category_list' %}" class="btn btn-secondary"style="position: fixed;">메인으로</a>
    </div>
</div>
{% endblock %}

